<div id="content-page" class="content-page">
  <div class="container-fluid">
     <div class="row">
        <div class="col-sm-12">
          <a href="/add-parution/{{permalink}}" class="btn btn-success"><i class="ri-add-circle-line"></i> Ajouter une publication</a>
          <hr/>
              <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between bg-success">
                       <div class="iq-header-title">
                          <h4 class="card-title text-white"> <i class="ri-list-ordered"></i> Liste des parutions </h4>
                       </div>
                    </div>
                    <div class="iq-card-body bg-light">

                       <div class="table-responsive">
                          <table id="datatable" class="table table-striped table-bordered">
                   <thead>
                       <tr>
                           <th>N° Parution</th>
                           <th>Code</th>
                           <th>Premier Titre</th>
                           <th>Second Titre</th>
                           <th>Date de Parution</th>
                           <th>Statut</th>
                           <th>Action</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let p of parutions" >
                           <td width="3%">{{p.numParution}}</td>
                           <td width="5%">{{p.code}}</td>
                           <td width="15%">{{p.premierTitre}}</td>
                           <td width="15%">{{p.secondTitre}}</td>
                           <td width="10%">{{p.dateParution }}</td>
                           <td>
                            <span *ngIf="p.validated==1"  class="badge ml-3 badge-pill badge-success">Validé</span>
                            <span *ngIf="p.validated==0"  class="badge ml-3 badge-pill badge-success">Non Validé</span>
                            <span *ngIf="p.published==1"  class="badge ml-3 badge-pill badge-success">Publié</span>

                           </td>
                          <td>
                            <a href="/detail-parution/{{p.idparution}}" class="btn btn-warning" style="margin-right:5px;"><i class="ri-eye-line"></i></a>
                            <a href="/edit-parution/{{p.idparution}}" class="btn btn-info" style="margin-right:5px;"><i class="ri-pencil-line" ></i></a>
                            <a href="" class="btn btn-danger" style="margin-right:5px;"><i class="ri-delete-bin-2-line"></i> </a>
                            <a *ngIf="p.validated==0"  href="/detail-parution/{{p.idparution}}" class="btn btn-success" style="margin-right:5px;"><i class="ri-checkbox-circle-line"></i> Valider</a>
                          </td>
                       </tr>

                   </tbody>

               </table>
                       </div>
                    </div>
                 </div>
        </div>
     </div>

  </div>
</div>
