     <!-- Sidebar  -->
     <div class="iq-sidebar " *ngIf="islogged" >
      <div class="iq-sidebar-logo d-flex justify-content-between bg-success">
         <a href="index.html">
         <span style="color: white;">228kiosqs</span>
         </a>
         <div class="iq-menu-bt align-self-center">
            <div class="wrapper-menu">
               <div class="line-menu half start"></div>
               <div class="line-menu"></div>
               <div class="line-menu half end"></div>
            </div>
         </div>
      </div>
      <div id="sidebar-scrollbar">
         <nav class="iq-sidebar-menu">
            <ul class="iq-menu">
               <li class="iq-menu-title">
                 <i class="ri-separator"></i>
                 </li>
               <li class="active">
                  <a href="" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Tableau de bord</span></a>

               </li>
               <li>
                  <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-list-check"></i><span>Agences</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                  <ul class="iq-submenu">
                     <li><a href="/add-agence">Ajouter</a></li>
                     <li><a href="/agences">Listes des agences</a></li>
                  </ul>
               </li>
               <li><a href="/news" class="iq-waves-effect"><i class="ri-calendar-2-line"></i><span>News</span></a></li>
               <li><a href="/publicites" class="iq-waves-effect"><i class="ri-calendar-2-line"></i><span>Publicités</span></a></li>
               <li><a href="/job-categorie


                " class="iq-waves-effect"><i class="ri-calendar-2-line"></i><span> Categorie Jobs</span></a></li>
               <li><a href="/jobs" class="iq-waves-effect"><i class="ri-calendar-2-line"></i><span>Jobs</span></a></li>
               <li><a href="/lecteur" class="iq-waves-effect"><i class="ri-calendar-2-line"></i><span>Listes des abonnés</span></a></li>
               <li><a href="/transactions" class="iq-waves-effect"><i class="ri-shopping-cart-line"></i><span> Liste des transactions</span>
              </a></li>
               <li class="iq-menu-title"><i class="ri-separator"></i><span>Espace agence</span></li>
               <li>
                  <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-pencil-ruler-line"></i><span> Publications</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                  <ul class="iq-submenu">
                     <li><a href="ui-colors.html">Ajouter </a></li>
                     <li><a href="ui-typography.html">Liste</a></li>
                  </ul>
               </li>
               <li>
                  <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-pie-chart-box-line"></i><span>Paiements</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                  <ul class="iq-submenu">
                     <li><a href="chart-morris.html">Listes des ventes</a></li>
                     <li><a href="chart-high.html">Paiements versées</a></li>
                  </ul>
               </li>
               <li>
                  <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-list-check"></i><span>Abonnés</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                  <ul class="iq-submenu">
                     <li><a href="icon-dripicons.html">Liste des abonnés</a></li>

                  </ul>
               </li>
               <li class="iq-menu-title"><i class="ri-separator"></i><span>Paramétrage du système</span></li>
               <li>
                  <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-pages-line"></i><span>Authentication</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                  <ul class="iq-submenu">
                     <li><a href="sign-in.html">Utilisateurs</a></li>
                     <li><a href="sign-up.html">Rôles</a></li>
                     <li><a href="pages-recoverpw.html">privilèges</a></li>
                  </ul>
               </li>
            </ul>
         </nav>
         <div class="p-3">
          <img src="assets/images/myimages/logo.png" class="img-fluid"  width="350px"  alt="logo">
         </div>
      </div>
   </div>
